<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart ToDo</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login_layout.css" type="text/css" />
  </head>

<header>

  <nav id="nav-bar">
    <div>
      <i class="fas fa-pencil-alt fa-3x"></i>
      <span class="header">smartCAT <i class="fa fa-book" style="color: #dcd3ff"></i></span>
    </div>
    <div>
      <i class="fa fa-th"></i>
      <!-- <a href="/login">
        <button class="compose-button">+ Login</button>
      </a>
      <a href="/register">
        <button class="compose-button">Sign Up</button>
      </a> -->
    </div>
  </nav>

</header>