<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/scripts/newItem.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

  <% include partials/_header %>

<body>
  <div class="container-fluid">
  <h1>Smart ToDo</h1>
  <div class='newItem'>
    <form id="formToDo" action="/my-list" method="POST">
      
      <span> 
        <textarea class='rounded' id="addToDo-text" name="text" placeholder="What do you want to do..."></textarea>
      </span>
      <span><input id='searchButton' class='rounded btn btn-dark' type="submit" form="formToDo" value="Add"></span>
      <%# class="form-control" aria-label="Search" %>
    </form>
  </div>

      
    <main class="row">
      <%# To Watch Column %>
      <section class='col-sm' id="to-watch">
        <h3>To Watch </h3>
        <i class="fa fa-film"></i>
      </section>
      <%# To Read Column %> 
      <section class='col-sm' id="to-read">
        <h3>To Read </h3>
        <i class="fa fa-bookmark"></i>
      </section>
      <%# To Eat Column %> 
        <section class='col-sm' id="to-eat">
          <h3>To Eat </h3>
          <i class="fa fa-cutlery"></i>
      </section>
      <%# To Buy Column %>
        <section class='col-sm' id="to-buy">
          <h3>To Buy </h3>
          <i class="fa fa-shopping-cart"></i>
        </section>
    </main>
  <footer id='mainFooter'>
    Why memorize? Let us help you categorize!
  </footer>
  </div>



</body>