<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Smart Categorizr</h1>
    <div class="container-fluid">

        <!-- Search form -->
        <div class="active-pink-3 active-pink-4 mb-4">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        

        <main class="row">

            <%# To Watch Column %>
            <section class='col-sm' id="to-watch">
                <h1>To Watch</h1>
                <article class='card to-watch-item'class='card to-watch-item'>
                    Pirates of the Carribean
                </article>
                <article class='card to-watch-item'class='card to-watch-item'>
                    Community
                </article>
            </section>

            <%# To Read Column %> 
            <section class='col-sm' id="to-read">
                <h1>To Read</h1>
                <article class='card to-read-item'>
                    'Daisy Jones & The Six' by Taylor Jenkins Reid 'Daisy Jones & The Six' by Taylor Jenkins Reid
                </article>
                <article class='card to-read-item'>
                    'Daisy Jones & The Six' by Taylor Jenkins Reid
                </article>
            </section>

            <%# To Eat Column %> 
            <section class='col-sm' id="to-eat">
                <h1>To Eat</h1>
                <article class='card to-eat-item'>
                    'Daisy Jones & The Six' by Taylor Jenkins Reid
                </article>
            </section>

            <%# To Buy Column %>
            <section class='col-sm' id="to-buy">
                <h1>To Buy</h1>
                <article class='card to-buy-item'>
                    'Daisy Jones & The Six' by Taylor Jenkins Reid
                </article>
            </section>
        </main>
    </div>
</body>