/* The Search Form */
textarea {
  width: 75%;
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
  height: 100px;
  font-size: 2em;
}

input#searchButton {
  width: 20%;
  margin: -90px 0px 0px 0px;
  height: 101px;
  font-size: xx-large;
}
// .active-pink-4 input[type=text]{
//   border: 1px solid #f48fb1;
//   box-shadow: 0 0 0 1px #f48fb1;
//   height: 100px;
//   font-size: 2em;
// }
/* The 4 main columns */
.container-fluid{
  border: 1px;
}
.col-sm {
  height: 700px;
  margin: 3px;
  border-radius: 15px;
}
#to-watch {
  background-color: #bffcc6;
}
#to-read {
  background-color: #ace7ff;
}
#to-eat {
  background-color: #dcd3ff;
}
#to-buy {
  background-color: #97a2ff;
}

/* Cards in a row */
.card {
  width: 100%;
  display: inline-table;
  word-wrap: none;
  position: inherit;
  padding: 8px 10px;
  margin: 5px;
  z-index: -1; 
}
