#nav-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 80px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 10; }
    #nav-bar div {
      display: flex;
      align-items: center; }
    #nav-bar .logo {
      height: 80px;
      width: 80px; }
    #nav-bar .header {
      padding-left: 10px;
      font-size: 2em; }
    #nav-bar .compose-button {
      margin-right: 10em;
      padding: 12px;
      border-radius: 4px; }