#nav-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 80px;
    background-color: #ffbebc;
    color: #000000; 
    display: flex; 
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 10;

    div {
        display: flex;
        align-items: center;
    }
    .logo {
        height: 80px;
        width: 80px;   
    }
    .header {
        padding-left: 10px;
        font-size: 2em;
    }
    .compose-button {
        margin-right: 10em;
        padding: 12px;
        border-radius: 4px;
    }
    
}
